<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('bundles/core/css/connect.css') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div class="wrapper" style="width:100%;">
            {#<div class="top" style="text-align:center;">#}
                {#<img class="main_logo" src="{{ asset('bundles/core/images/crmagent.svg') }}" alt="crmagent">#}
                {#<div class="blue_line"></div>#}
            {#</div>#}
            <div class="content">
                <div class="main_error">
                    <div class="main_error_text">{{ error }}</div>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
