<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('bundles/core/css/connect.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" />
    </head>

    <body>
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logocrmagent">
                            <a href="https://crmagent.ru" target="_blank">
                                
                            </a>
                            <p class="text-vizitka">web-разработка. автоматизация. crm-системы</p>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        {% block logo %}{% endblock %}
                        <div class="logoinfo">
                            {% block logoinfo %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="crmagent_line"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% block navigator %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
            <div id="form-style-wide" class="form-style-5">
                {% block form %}{% endblock %}
            </div>
        </div>
        <div class="footer"></div>
        {% block scripts %}
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/core/js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
