{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> zdravcity modules warehouse</h1>
            </div>
            <code></code>
        </div>
    </div>
{% endblock %}
