
@font-face {
    font-family: 'mignon-bold';
    src: url('../fonts/mignon-bold.eot');
    src: url('../fonts/mignon-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mignon-bold.woff') format('woff'),
    url('../fonts/mignon-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mignon-it';
    src: url('../fonts/mignon-it.eot');
    src: url('../fonts/mignon-it.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mignon-it.woff') format('woff'),
    url('../fonts/mignon-it.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'mignon-medium';
    src: url('../fonts/mignon-medium.eot');
    src: url('../fonts/mignon-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mignon-medium.woff') format('woff'),
    url('../fonts/mignon-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mignon-mediumit';
    src: url('../fonts/mignon-mediumit.eot');
    src: url('../fonts/mignon-mediumit.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mignon-mediumit.woff') format('woff'),
    url('../fonts/mignon-mediumit.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'mignon-regular';
    src: url('../fonts/mignon-regular.eot');
    src: url('../fonts/mignon-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mignon-regular.woff') format('woff'),
    url('../fonts/mignon-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mignon-semiboldit';
    src: url('../fonts/mignon-semiboldit.eot');
    src: url('../fonts/mignon-semiboldit.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mignon-semiboldit.woff') format('woff'),
    url('../fonts/mignon-semiboldit.ttf') format('truetype');
    font-weight: bold;
}

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
  margin-top: 60px;
}
.footer {
  flex: 0 0 auto;
  text-align: center;
  height: 60px;
  border-top: 1px solid #e8e8e8;
  width: 940px;
  line-height: 60px;
  margin:0 auto;
}
.top
{
  width: 960px;
  margin:0 auto;
}
.header {
  margin-top:10px;
  text-align: center;
}
.blue_line {
  width: 100%;
  height: 30px;
  margin:0px auto 20px;
  border-bottom:1px solid #4bc0fa;
}
.header_form_text {
  text-align: center;
  color: #4bc0fa;
  font-weight: bold;
  text-transform: uppercase;
}
.form-style-5{
    max-width: 640px;
    margin: 0 auto;
}
.form-style-5 fieldset{
    border: none;
    margin-bottom: 24px;
}
.form-style-5 legend {
    margin-bottom: 10px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 input[type="password"],
.form-style-5 textarea,
.form-style-5 select {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 14px;
    outline: 0;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 1px rgba(240, 240, 240, 1) inset;
    box-shadow: 1px 1px 1px rgba(240, 240, 240, 1) inset;
    margin: 0 0 15px;

}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #ffffff;
}
.form-style-5 input[type="submit"],
.form-style-5 input[type="button"],
.form-style-5 a.button,
.form-style-5 button
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background: #4bc0fa;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border:none;
    margin: 0 auto 10px;
    text-decoration: none;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover,
.form-style-5 button:hover,
.form-style-5 a.button:hover
{
    background: #555555;
}
::-webkit-input-placeholder {
    font-family: 'mignon-it', sans-serif;}
::-moz-placeholder          {
    font-family: 'mignon-it', sans-serif;}/* Firefox 19+ */
:-moz-placeholder           {
    font-family: 'mignon-it', sans-serif;}/* Firefox 18- */
:-ms-input-placeholder      {
    font-family: 'mignon-it', sans-serif;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
input:focus:required:invalid {
  border:1px solid red;
}

.nav-bar ul {
    text-align: center;
    font-size: medium;
}

.nav-bar li {
    display: inline-block;
    border: medium;
}

.nav-bar a {
    text-decoration: none;
    color: #4bc0fa;
}

.nav-bar span {
    display: block;
    padding: 5px;
}

.nav-bar li:hover{
    border-bottom: 1px solid #4bc0fa;
}

.nav-bar li.active a{
    color: black;
}

.nav-bar li.active {
    border-bottom: 1px solid #4bc0fa;
}

#form-style-wide {
    max-width: 1200px;
    min-width: 600px;
    width: 960px;
    margin: 0 auto;
}

#form-style-wide button{
    max-width: 200px;
}

.message-info, .message-error {
    margin: 10px auto;
    max-width: 40%;
    padding: 10px;
}

.message-info {
    background-color: #afd9ee;
    border: 1px solid #00A5E3;
}

.message-error {
    margin: 10px auto;
    max-width: 40%;
    padding: 10px;
    background-color: #fa7878;
    border: 1px solid #c72626;
}

.title-mapping div {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #4bc0fa;
    margin-bottom: 10px;
}

.label-form-wide {
    width: 280px;
}

.field-mapping {
    margin: 5px;
    display: block;
}

.field-mapping label{
    display: inline-block;
    word-wrap: break-word;
    text-align: justify;
    vertical-align: middle;
}

.field-mapping select{
    display: inline-block;
    width: 300px;
}

.add .reset {
    margin: 0 !important;
    max-width: none !important;
    width: auto !important;
    padding: 0 !important;
    display: inline !important;
    color:red !important;
    background: none !important;
}
.add .reset:hover {
    background: none;
    cursor:pointer;
}

#popup {
    position: fixed;
    z-index: 1001;
    background-color: white;
    border: 3px double #1aafee;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-size: cover;
    text-align:center;
    min-height: 230px;
    min-width: 640px;
}

#popup_msg {
    text-align:center;
    font-size: 25px;
    color: #423b09;
    margin: 50px 0;

    font-family: 'pt_sansregular';
}

.logoinfo{
    margin-top:10px;
}

.logocrmagent a {
    background-image: url('https://crmagent.ru/wp-content/themes/powerclub/i/CRM_logo_vector.svg');
    display: block;
    width: 400px;
    height: 150px;
    background-position-y: -362px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 116%;
    background-position-x: -37px;
}

.crmagent_line {
  width: 100%;
  height: 30px;
  margin:0px auto 20px;
  border-bottom:1px solid #d2b654;
}

a {
   color:#d2b654 !important; 
}

.text-vizitka {
    font-size: 12px;
    text-transform: uppercase;
    font-family: crmagent77;
    color: #333333;
}

#form_status label{
    display: block;
    margin-left: 20px;
    margin-bottom:10px;
    white-space: pre-wrap;
    word-break: break-all;
}
#form_status input{
    display: inline-block;
    float: left;
}

.goods-links div {
    margin:5px 0px;
}

.goods-links {
    font-size: 14px;
    line-height: 20px;
    font-family: crmagent77;
    color: #333333;
}

.goods-links span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #d2b654;
    border: 1px solid #ddd;
    border-radius: 4px;
    display:inline-block;
    line-height: 20px;
    padding: 5px 10px;
}